/* General configurations */
body {
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  display: flex;
  background-color: #FFFCFF;
  font-family:'Open sans', sans-serif;
}

h2 {
  margin-bottom: 20px;
}

/* Configuration of icons */
i.fas { 
  font-size: 20px;
}

/* Configuration of header */
#header {
  padding: 10px;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

#nextButton, #backButton {
  background-color:#4463ca;
  width: 70px;
}

/* Configuration of the calendar */
#container {
  width: 875px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#weekdays {
  width: 100%;
  display: flex;
  font-weight: 600;
}

#weekdays div {
  width: 175px;
  padding: 10px;
}

.day {
  width: 125px;
  padding: 10px;
  height: 145px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

#currentDay {
  background-color:lightcyan;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

/* Configuration of events */
.upcomingEvent, .previousEvent {
  font-size: 12px;
  padding: 3px;
  color: white;
  border-radius: 5px;
  max-height: 25px;
  overflow: hidden;
}

.upcomingEvent {
  background-color: #4463ca;
}

.previousEvent {
  background-color: rebeccapurple;
}

.doneEvent {
  text-decoration: line-through;
}

/* Configuration of forms */
#newEventForm, #deleteEventForm {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  min-width: 300px;
  max-width: 800px;
  top: 20em;
  left: calc(50% - 175px);
  position: absolute;
}

#eventText {
  overflow: hidden;
  font-size: 18px;
  margin-bottom: 50px;
  list-style: none;
  font-weight: 600;
}

#eventBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
}

/* Configuration of input fields */
input [type="checkbox"] {
  vertical-align: middle;
}

label {
  margin-left: 10px;
}

#eventInput, #newEventInput, #courseInput, #newCourseInput, #time1, #time2 {
  display:block;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0 25px 0;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#eventInput, #newEventInput, #courseInput, #newCourseInput {
  width: 75%;
}

#time1, #time2 {
  width: 60px;
}

/* Configuration of buttons */
button {
  width: 90px;
  height: 30px;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#deleteButton {
  background-color: #e42828;
}

#cancelButton, #closeButton {
  background-color: #2857f0;
}

#saveButton, #newButton {
  background-color: rgb(13, 209, 13);
}

#markButton {
  background-color: rgb(252, 166, 7);
}

/* Configuration of timeline */
#timelineContainer {
  margin: 25px 0 0 40px;
  max-width: 25em;
}

.timelineDiv {
  background-color:#4463ca;
  color: white;
  overflow: hidden;
  padding: 1em;
  margin: 10px 0 0 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #CBD4C2;
}

/* Media Queries for smaller displays */
@media only screen and (max-width: 1360px) {
  body {
    display: block;
    margin-left: 1em;
  }
}
/* Media Queries for smaller displays ends */